.search__bar__container {
    display: flex;
    align-items: center;
}
.search__bar {
    position: relative;
}
#search__bar {
    max-width: 40%;
    min-width: 300px;
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    opacity: 50%;
    margin: 0 auto;
}
#search__bar:focus {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    opacity: 100%;
}
.fa-circle-xmark {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%, 70%);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.loading {
    position: absolute;
    top: 25px;
    right: 15px;
    transform: translate(-70%, 70%);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
