.App {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.wrapper {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    h1 {
        padding-top: 30px;
        margin: 0 auto 30px auto;
    }
    .load_more_btn {
        margin: 30px auto;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.428);
        color: #333;
    }
    .load_more_btn:hover {
        background-color: #0d2830;
        color: white;
    }
}
.spacer-horizontal {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: white;
}
.spacer-vertical {
    width: 4px;
    height: 100%;
    background-color: white;
}
