.App {
    position: relative;
}
.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__container {
    position: relative;
    min-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    .escape__btn {
        position: absolute;
        top: -2%;
        left: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 20px;
        border: 3px solid transparent;
        opacity: 70%;
    }
    .escape__btn:hover {
        opacity: 100%;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        background-color: white;
    }
    .img__container {
        display: flex;
        gap: 50px;
    }
    .img__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 15px auto;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .modal__item {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            width: 40%;
        }
    }
    .details__group {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        flex-wrap: wrap;
        p {
            font-size: 18px;
            min-width: 30%;
        }
    }
    .stat__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        .stat__detail {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 5px auto;
            h5 {
                min-width: 130px;
            }
        }
    }
}
.wrapper {
    text-align: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #search__bar {
        max-width: 40%;
        min-width: 300px;
        width: 100%;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 50px;
        border: none;
        opacity: 50%;
    }
    #search__bar:focus {
        outline: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        opacity: 100%;
    }
    h1 {
        padding-top: 30px;
        margin: 0 auto 30px auto;
    }
    .load_more_btn {
        margin: 30px auto;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.428);
        color: #333;
    }
    .load_more_btn:hover {
        background-color: #0d2830;
        color: white;
    }
}
.spacer-horizontal {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: white;
}
.spacer-vertical {
    width: 4px;
    height: 100%;
    background-color: white;
}
