.App {
    position: relative;
    .modal {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }
}
.pokemons__container {
    text-align: center;
    h1 {
        padding-top: 30px;
        margin: 0 auto 30px auto;
    }
    .load_more_btn {
        margin: 30px auto;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.428);
        color: #333;
    }
    .load_more_btn:hover {
        background-color: #0d2830;
        color: white;
    }
}
